.home {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)),
    url("./images/back-1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.search-box {
  margin: 20rem 0 0 0;
  color: var(--clr3);
  text-align: center;
}

.search-box h1 {
  font-size: 5.5rem;
  text-transform: capitalize;
  font-weight: 600;
  letter-spacing: 0.2rem;
}

.search-box p {
  font-size: 1.8rem;
  margin: 0.5rem 0;
}

.search-field {
  width: 25rem;
  height: 4.5rem;
  font-size: 1.7rem;
  font-weight: 600;
  margin: 0 0.2rem;
  color: var(--clr2);
}

@media (max-width: 767px) {
  .search-box h1 {
    font-size: 4rem;
  }
  .search-field {
    width: 15rem;
  }
}

/* ----------- About ---------------- */

.about {
  background-color: whitesmoke;
}

.about p {
  font-size: 1.8rem;
  font-weight: 500;
  color: rgba(80, 77, 77, 0.874);
  letter-spacing: 0.1rem;
  line-height: 3.2rem;
  text-align: center;
}
